################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InternetBulletin/InternetBulletin.Data/Migrations
**.vs
**obj
**wwwroot
**bin
**node_modules
**package-lock.json
appsettings.development.json
appsettings.Development.json
**dist/
.env
**coverage
**.vscode


# Azurite
__blobstorage__
__queuestorage__
__tablestorage__
__azurite_db*.*

