.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    min-height: 100vh;
}

.dark-mode .main-content {
    background-color: #1a1a1a;
}

.dark-mode .posts-subtitle {
    color: #cccccc;
}

.dark-mode .navbar {
    background-color: #1f1f1f !important;
    color: #ffffff;
}

.dark-mode .nav-link {
    color: #ffffff !important;
    text-decoration: none;
}

.dark-mode .nav-link:hover {
    color: #bbbbbb !important;
}

.dark-mode .form-control {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

.dark-mode .form-control-plaintext {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

.dark-mode .form-control::placeholder {
    color: #bbbbbb;
}

.lightgrey {
    color: lightgrey;
}

.dark-mode .ql-toolbar {
    background-color: #333333; /* Dark background color */
    border: 1px solid #ffffff;
}

.dark-mode .ql-toolbar .ql-picker {
    color: #ffffff; /* Light text color */
}

.dark-mode .ql-toolbar .ql-picker-options {
    background-color: #333333; /* Dark background color */
    border: 1px solid #ffffff;
}

.dark-mode .ql-toolbar .ql-stroke {
    stroke: #ffffff; /* Light stroke color */
    border: 1px solid #ffffff;
}

.dark-mode .ql-toolbar .ql-fill {
    fill: #ffffff; /* Light fill color */
}

.dark-mode .ql-toolbar .ql-picker-label {
    color: #ffffff; /* Light text color */
    border: 1px solid #ffffff;
}

.dark-mode .ql-toolbar .ql-picker-item {
    color: #ffffff; /* Light text color */
    border: 1px solid #ffffff;
}

.dark-mode .ql-container {
    background-color: #333333; /* Dark background color */
    color: #ffffff; /* Light text color */
}

.dark-mode .ql-editor {
    background-color: #333333; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.dark-mode .ql-editor p {
    color: #ffffff; /* Light text color */
}

.dark-mode .ql-editor h1,
.dark-mode .ql-editor h2,
.dark-mode .ql-editor h3,
.dark-mode .ql-editor h4,
.dark-mode .ql-editor h5,
.dark-mode .ql-editor h6 {
    color: #ffffff; /* Light text color */
}

.dark-mode .ql-editor::before {
    color: #ffffff; /* Light placeholder color */
    opacity: 0.6; /* Adjust opacity if needed */
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.dark-mode .ql-toolbar .ql-aiRewrite:hover::after {
    color: #333;
    background-color: #fff;
}

.dark-mode .custom-modal {
    color: #fff;
    background-color: #333;
}
