name: Code Coverage for Unit Tests

env:
    TEST_PROJECT_PATH: InternetBulletin.UnitTests/InternetBulletin.UnitTests.csproj

on:
    pull_request:
        branches: [dev, main]

jobs:
    #region Tests
    internet-bulletin-tests:
        name: Unit tests and coverage
        runs-on: ubuntu-latest

        steps:
            # Checkout the repository
            - name: Checkout code
              uses: actions/checkout@v3

            # Setup .NET
            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "9.0.x"

            # Run tests with coverage
            - name: Run .NET Tests with Coverage
              run: |
                  dotnet test ${{ env.TEST_PROJECT_PATH }} --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage

            - name: Code Coverage Report
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                  filename: coverage/**/coverage.cobertura.xml
                  badge: true
                  fail_below_min: true
                  format: markdown
                  hide_branch_rate: false
                  hide_complexity: false
                  indicators: true
                  output: both
                  thresholds: "60 80"

            - name: Add Coverage PR Comment
              uses: marocchino/sticky-pull-request-comment@v2
              if: github.event_name == 'pull_request'
              with:
                  recreate: true
                  path: code-coverage-results.md
    # endregion
